@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Varela&display=swap');

body {
    color: white;
    text-align: center;
    background-color: black;
    background-image: url(img/site/bg.png);
    background-position: center;
    background-size: cover;
    font-family: Varela;
    font-size: 1.15rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    color: white;
    align-items: center;
    display: grid;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.menu {
    width: 16rem;
    height: 2.2rem;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}


a {
    text-decoration: none;
    font-size: 1rem;
    font-family: Jost;
    color: white
}

a:visited {
    color: white
}

a:hover {
    color: #b26aff
}

h1 {
    font-family: monospace;
    font-weight: 300;
}

.list-items {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.fake-link:hover {
    cursor: pointer;
    color: #26c730;
}

.win7bg {
    position: fixed;
    z-index: -99;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: brightness(60%);

    background-size: 100%;
    background-image: url('/img/icons/7bg.png');
}