body { color:white; text-align: center; background-image:url(bg.png);; font-family:monospace; font-weight: 500; }
h1 { color:#ffffff; border: 2px double; }
table { width: 350px; height: 50px; margin-left:auto; margin-right:auto; color:#000000; }

html {
    color: white;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0; }

a {
    text-decoration: none;
    font-size: 10px;
    font-family: Verdana;
    color:white
}


a:visited {
color:white
}

a:hover {
color:#26c730 }

.r
 { color: red; font-family:monospace; font-size: 20px;}
.g
 {color: green; font-family:monospace; font-size: 20px;}
.b
 {color: rgb(0, 183, 255); font-family:monospace; font-size: 20px;}
